@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: bisque!important" class="jumbotron">
    <h1 >Welcome to Contoso University</h1>
</div>
<div class="row">

    <img src="/university.jpeg" style="width: 100%"/>
</div>

